<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atmatrix.abr.infrastructure.dao.RentAddressMapper">
  <resultMap id="BaseResultMap" type="com.atmatrix.abr.infrastructure.entity.RentAddress">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="rent_union_code" jdbcType="VARCHAR" property="rentUnionCode" />
    <result column="robot_union_code" jdbcType="VARCHAR" property="robotUnionCode" />
    <result column="region_code" jdbcType="VARCHAR" property="regionCode" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="work_address" jdbcType="VARCHAR" property="workAddress" />
    <result column="delete" jdbcType="INTEGER" property="delete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id,
    rent_union_code,
    robot_union_code,
    region_code,
    region_name,
    work_address,
    `delete`,
    create_time,
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.atmatrix.abr.infrastructure.entity.RentAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from contract_rent_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.atmatrix.abr.infrastructure.entity.RentAddressExample">
    delete from contract_rent_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atmatrix.abr.infrastructure.entity.RentAddress">
    insert into contract_rent_address (
      rent_union_code,
      robot_union_code,
      region_code,
      region_name,
      work_address,
      delete,
      create_time,
      update_time
      )
    values (
      #{rentUnionCode,jdbcType=VARCHAR},
      #{robotUnionCode,jdbcType=VARCHAR},
      #{regionCode,jdbcType=VARCHAR},
      #{regionName,jdbcType=VARCHAR},
      #{workAddress,jdbcType=VARCHAR},
      #{delete,jdbcType=INTEGER},
      now(),
      now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atmatrix.abr.infrastructure.entity.RentAddress">
    insert into contract_rent_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rentUnionCode != null">
        rent_union_code,
      </if>
      <if test="robotUnionCode != null">
        robot_union_code,
      </if>
      <if test="regionCode != null">
        region_code,
      </if>
      <if test="regionName != null">
        region_name,
      </if>
      <if test="workAddress != null">
        work_address,
      </if>
      <if test="delete != null">
        delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rentUnionCode != null">
        #{rentUnionCode,jdbcType=VARCHAR},
      </if>
      <if test="robotUnionCode != null">
        #{robotUnionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null">
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="workAddress != null">
        #{workAddress,jdbcType=VARCHAR},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atmatrix.abr.infrastructure.entity.RentAddressExample" resultType="java.lang.Long">
    select count(*) from contract_rent_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update contract_rent_address
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rentUnionCode != null">
        rent_union_code = #{record.rentUnionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.robotUnionCode != null">
        robo_union_code = #{record.robotUnionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.regionCode != null">
        region_code = #{record.regionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.regionName != null">
        region_name = #{record.regionName,jdbcType=VARCHAR},
      </if>
      <if test="record.workAddress != null">
        work_address = #{record.workAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.delete != null">
        delete = #{record.delete,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update contract_rent_address
    set
      rent_union_code = #{record.rentUnionCode,jdbcType=VARCHAR},
      robot_union_code = #{record.robotUnionCode,jdbcType=VARCHAR},
      region_code = #{record.regionCode,jdbcType=VARCHAR},
      region_name = #{record.regionName,jdbcType=VARCHAR},
      work_address = #{record.workAddress,jdbcType=VARCHAR},
      delete = #{record.delete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>